<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>Free Game?</h1>
    <p>You click on the free download site. It seems a little suspicious with multiple pop-up advertisements</p>
    <img src = "" alt="laptop">
    <a href = "get_game2a"><button>A. Click on the download button</button></a>
    <a href = "page2a.html"><button>B. Go back to previous page</button></a>
    <a href = "page_shutdown"><button>C. Give up and shut down your laptop</button></a>
</body>
</html>