<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>Suspicious Sites</h1>
    <p>You try to download your favorite game, but you see more than one kind of website, even one offering it for free! Which link do you use?</p>
    <img src = "https://pngimg.com/d/laptop_PNG101837.png" alt="laptop">
    <a href = "get_game1a.html"><button>A. Click on the free download site</button></a>
    <a href = "get_game1b.html"><button>B. Click on the official site</button></a>
    <a href = "page_shutdown.html"><button>C. Give up and shut down the laptop</button></a>
</body>
</html>