<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>New Laptop!</h1>
    <p>You recently got a new laptop! What's the first thing you do on it?</p>
    <img src = "https://pngimg.com/d/laptop_PNG101837.png" alt="laptop">
    <a href = "page2a.html"><button>A. Download your favorite game</button></a>
    <a href = "page2b.html"><button>B. Surf the web </button></a>
    <a href = "page_shutdown.html"><button>C. Shut down the laptop</button></a>
</body>
</html>