<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>Surfing the Web!</h1>
    <p>While browsing through different sites, you stumble upon a popup saying you just won $100 giftcard! Do you accept your reward?</p>
    <img src = "https://pngimg.com/d/laptop_PNG101837.png" alt="laptop">
    <button href = "popup_1a.html"><a>A. You excitedly accept the giftcard</a></button>
    <button href = "popup_1b.html"><a>B. Close the popup and continue surfing the web </a></button>
    <button href = "page_shutdown.html"><a>C. Shut down the laptop</a></button>
</body>
</html>