<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>Free Giftcard?</h1>
    <p>You click "Accept Prize" and it redirects you to a page to enter your name, email, banking information, and address so they can send you the prize. Do you fill in your information?</p>
    <img src = "https://cdn3d.iconscout.com/3d/premium/thumb/accept-button-7544607-6247455.png?f=webp" alt="accept">
    <a href = "popup2a.html"><button>A. You fill in your information and submit</button></a>
    <a href = "page2b.html"><button>B. You change your mind and go back to previous page</button></a>
    <a href = "page_shutdown.html"><button>C. Give up and shut down your laptop</button></a>
</body>
</html>