<!DOCTYPE html>
<head>
    <title>Cyber Game</title>
    <meta charset="UTF-8">
    <body style="background-color:#f0edda">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_style.css') }}">

</head>
<body>
<div class="d-flex flex-row justify-content-between" style="position: fixed">
  <!-- <div style="position:fixed;"> -->
    <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left; margin-top: none;">
      <a class="navbar-brand" style="margin-left: 10%; padding-top: 30px; font-size: 25px"><strong>SECUREHUB</strong></a>
      <ul class="navbar-nav" style="padding: 20px">
        <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
        <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
        <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
        <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
      </ul>
    </nav>
</div>

<div class = "info">
    <h1>Hooray!</h1>
    <p>You closed the pop-up and succesfully prevented your data from getting stolen!</p>
    <img src = "https://static.vecteezy.com/system/resources/previews/021/247/917/original/smiling-woman-working-on-laptop-showing-thumb-up-png.png" alt="thumbsup">
    <a href = "/game" class="btn d-flex justify-content-center"><button>Restart</button></a>
</br>
 </div>
</body>
</html>