<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Cyber Game</title>
</head>
<body>
    <h1>Free Giftcard?</h1>
    <p>You click "Accept Prize" and it redirects you to a page to enter your name, email, and address so they can send you the prize. Do you fill in your information?</p>
    <img src = "" alt="laptop">
    <a href = "popup2a.html"><button>A. You fill in your information</button></a>
    <a href = "page2b.html"><button>B. Go back to previous page</button></a>
    <a href = "page_shutdown.html"><button>C. Give up and shut down your laptop</button></a>
</body>
</html>