<!DOCTYPE html>
<head>
    <title>Cyber Game</title>
    <meta charset="UTF-8">
    <body style="background-color:#f0edda">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_style.css') }}">

</head>
<body>
<div class="d-flex flex-row justify-content-between" style="position: fixed">
  <!-- <div style="position:fixed;"> -->
    <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left; margin-top: none;">
      <a class="navbar-brand" style="margin-left: 10%; padding-top: 30px; font-size: 25px"><strong>SECUREHUB</strong></a>
      <ul class="navbar-nav" style="padding: 20px">
        <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
        <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
        <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
        <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
      </ul>
    </nav>
</div>

<div class = "info">
    <h1>Free Gift Card?</h1>
    <p>You click "Accept Prize" and it redirects you to a page to enter your name, email, banking information, and address so they can send you the prize. Do you fill in your information?</p>
    <img src = "{{url_for('static', filename='assets/accept.png')}}" alt="accept" style="">
    <div class ="row-3 d-flex justify-content-center">
    <a href = "/popup2a"><button>A. You fill in your information</button></a>
    <a href = "/page2b"><button>B. You go back to previous page</button></a>
    <a href = "/pageshutdown"><button>C. Give up and shut down your laptop</button></a>
    </div>
</br>
</div>
</body>
</html>