<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- stylesheet -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_style.css') }}"> -->
  
    <!-- javascript -->
    <script src="{{ url_for('static', filename='js/quiz_script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/home_quiz.js') }}" defer></script>

  </head>
  
  <body style = "background-color:#f0edda">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left">
        <a class="navbar-brand" style="margin-left: 10%; margin-top: 30px; font-size: 25px"><strong>SECUREHUB</strong></a>
        <ul class="navbar-nav" style="margin: 20px">
          <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
          <li class="nav-item"><a class="nav-link" href="/resources">RESOURCES</a></li>
          <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
          <li class="nav-item"><a class="nav-link" href="/quiz">QUIZ</a></li>
          <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
          <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
        </ul>
      </nav>
    </div>
    <!--COLUMN 1 ===== PATH-->
    <div>
      <h1 class="d-flex justify-content-center" style="font-size: 25px; margin-top: 10px;"><strong>SIMPLE CYBERSECURITY QUIZ</strong></h1>
      <p>Let's see how well protected and informed you are in cybersecurity!!</p>

      <!--testing new popup w/ js-->
      <div id="maincontent">
        <button id="q0" onclick="displayQuestion(0)">Question 1</button>
        <button id="q1" onclick="displayQuestion(1)">Question 2</button>
        <button id="q2" onclick="displayQuestion(2)">Question 3</button>
        <button id="q3" onclick="displayQuestion(3)">Question 4</button>
        <button id="q4" onclick="displayQuestion(4)">Question 5</button>
        <button id="q5" onclick="displayQuestion(5)">Question 6</button>
      </div>

      <div id="overlay"></div>
      <div id="popup" class="card">
        <div class="popupcontrols">
          <span id="popupclose">x</span>
        </div>
        <div class="popupcontent">
          <div class="box">
            <!--needs to be changed-->
            <h2 style="font-size: 20px;" id="questionText"></h2>
            <!---->
            <div class="question">
              <div class="answer-choice">
                <button id="a1">Yes</button>
              </div>
              <div class="answer-choice">
                <button id="a2">No</button>
              </div>
            </div>
          </div>
        </div>

        <div>
          <h1 id="answerCheck"></h1>
        </div>
      </div>
    <!--testing end-->

    </div>
    <!--COLUMN 2 ===== DISPLAYING ANSWERS-->
    <div class = "card right-card d-flex justify-content-center m-5 p-5">
      <h1 id="topic"></h1>
      <p id="info"></p>
      <!--link here-->
      <!--correct/wrong-->
      <div class="d-flex flex-row">
        <h2>Correct:<p id="correctNum">0</p></h2>
        <h2>Wrong:<p id="wrongNum">0</p></h2>
      </div>
      <!---->
    </div>
</div>
</body>
</html>