<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- javascript -->
  <script src="{{ url_for('static', filename='js/home_quiz.js') }}" defer></script>

</head>

<body style="background-color:#f0edda">
  <div class="d-flex flex-row justify-content-between" style="position: fixed">
    <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left">
      <a class="navbar-brand"
        style="margin-left: 25px; padding-top: 35px; font-size: 25px"><strong>SECUREHUB</strong></a>
      <ul class="navbar-nav" style="padding: 20px">
        <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
        <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
        <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
        <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>

  <!--COLUMN 1 ===== PATH-->
  <div class="info">
    <div class="d-flex flex-row">
      <!--testing new popup w/ js-->
      <div id="maincontent" class="d-flex flex-column quiz">
        <h1 class="text-center" style="font-size: 25px;"><strong>SIMPLE CYBERSECURITY QUIZ</strong></h1>
        <p class="text-center">Let's see how well protected and informed you are in cybersecurity!!</p>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/pw1_button.png') }}" id="q0 overlay"
          onclick="displayQuestion(0)" class="middle-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/pw2_button.png') }}" id="q1" 
          onclick="displayQuestion(1)" class="right-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/multi_authen_button.png') }}" id="q2" 
          onclick="displayQuestion(2)" class="middle-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/vpn_button.png') }}" id="q3" 
          onclick="displayQuestion(3)" class="left-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/software_button.png') }}" id="q4" 
          onclick="displayQuestion(4)" class="middle-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/https_button.png') }}" id="q5" 
          onclick="displayQuestion(5)" class="right-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/websites_button.png') }}" id="q6" 
          onclick="displayQuestion(6)" class="middle-side">
        </div>
        <div class="d-flex justify-content-center">
          <img src="{{ url_for('static', filename='assets/cookies_button.png') }}" id="q7" 
          onclick="displayQuestion(7)" class="left-side">
        </div>
      </div>
      <!---->
      <div class="d-flex flex-column">
        <div class="d-flex flex-column">
          <div id="overlay"></div>
          <div id="popup" class="card p-3 m-3" style="margin: 20px">
            <div class="popupcontrols">
              <span id="popupclose">x</span>
            </div>
            <div class="popupcontent">
              <div class="box">
                <!--needs to be changed-->
                <h2 style="font-size: 20px; float: center" id="questionText"></h2>
                <!---->
                <div class="question d-flex justify-content-center">
                  <div class="answer-choice" style="padding-right: 20px;">
                    <button id="a1">Yes</button>
                  </div>
                  <div class="answer-choice">
                    <button id="a2">No</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div>
              <h1 id="answerCheck"></h1>
            </div>
          </div>
          <!--testing end-->
      </div>
      <!--COLUMN 2 ===== DISPLAYING ANSWERS-->
      <div class="card right-card d-flex justify-content-center m-3 p-3 side-box">
        <h1 id="topic">
          OUR MISSION:
        </h1>
        <p id="info">
          We aim to safeguard personal privacy throughout our community by raising awareness about the risks of big corporations' data collection, providing resources to mitigate cybersecurity threats, and enhancing education on data collection risks and breaches through our website.
        </p>
        <!--link here-->
        <!--correct/wrong-->
        <br>
        <div class="d-flex justify-content-center results">
          <h2 style="margin-right: 100px;">Correct:<p id="correctNum">0</p>
          </h2>
          <h2>Wrong:<p id="wrongNum">0</p>
          </h2>
        </div>
        <!---->
      </div>
      </div>
    <!---->
  </div>
  </div>
  </div>
</body>

<style>
  img {
    background-color: transparent;
    width: 20%;
  }

  img:hover {
    opacity: 0.5;
  }

  .info {
    max-width: 84%;
  }

  .side-box {
    float: right;
    width: 100%;
  }

  .quiz {
    max-width: 50%
  }

  .card {
    /* padding: 10px; */
    border-radius: 15px;
  }

  .results {
    margin-left: 25%;
    margin-right: 25%;
  }

  button {
    background-color: #f4f1DE;
    border-color: #3D405B;

    border-radius: 10px;
    text-align: center;

  }

  .left-side {
    margin-right: 25%;
  }

  .middle-side {
  }

  .right-side {
    margin-left: 25%;
  }

</style>

</html>