<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Passwords</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/app/static/css/style.css">
  <!-- <style>
        </style> -->
  <!-- <script src=""></script> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
  <script src="static/js/slider.js"></script>
  <script src="{{ url_for('static', filename='js/password.js') }}" defer></script>
</head>

<body style="background-color:#f0edda">
  <div class="d-flex flex-row justify-content-between" style="position: fixed">
    <!-- <div style="position:fixed;"> -->
      <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left;">
        <a class="navbar-brand"
          style="margin-left: 10%; margin-top: 30px; font-size: 25px"><strong>SECUREHUB</strong></a>
        <ul class="navbar-nav" style="margin: 20px">
          <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
          <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
          <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
          <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
        </ul>
      </nav>
  </div>

    <div class="info">
      <div class="d-flex justify-content-center text-center">
        <div>
          <h1 style="font-family:'Nunito'; color:#3d405b; margin-top: 30px;">PASSWORDS</h1>
        </div>
      </div>

      <div class="d-flex justify-content-center text-center" style="font-family:'Nunito';">
        <div>
          <p style="font-size: 20px;"> "More than 80% of confirmed breaches are related stolen, weak, or reused
            passwords" - Norton.com </p>
        </div>
      </div>

      </br>

      <div class="d-flex flex-column card p-5 card-style" style="font-family:'Nunito';">
        <div>
          <h1 style="text-shadow: 1px 1px 1px white;" class="text-center">PASSWORD GENERATOR</h1>
        </div>
        <br>
        <div>
          <form action="/genpass" method="POST" class="d-flex justify-content-center text-center">
            <div class="container">
              <label for="user_input">Generate a Password:</label>
              <div class="d-flex flex-row">
                <img src="static/assets/lock.png" height="40vh" width="40vh">
                <input type="text" id="user_input" name="user_input" class="input-field" placeholder="input here">
              </div>
              <br>
              <button type="submit" class="btn form-btn" value="submit"
                style="background:-webkit-linear-gradient(right, #031888, #6096fd, #aab6fb, #fb788e);"> Generate
              </button>
            </div>
          </form>
        </div>

        <br>
        <h2 class="text-center">your password is:</h2>
        <div class="d-flex flex-row">
          <h2 id="copyText">{{NEW_PASS}}</h2>
          <img src="static/assets/clipboard.png" onclick="myFunction()" height="25vh" width="vh">
        </div>
        <br>

        <div class="d-flex justify-content-center">
          <img src="{{url_for('static', filename='assets/passwords.png')}}" alt="passwords table" class="img-fluid">
        </div>
      </div>

      </br>
      </br>

      <div class="d-flex flex-column card p-5 card-style" style="font-family:'Nunito';">
        <div>
          <h1 style="text-shadow: 1px 1px 1px white;" class="text-center">PASSWORD CHECKER</h1>
        </div>
        <br>
        <div>
          <form action="/analyzepass" method="POST" class="d-flex justify-content-center text-center">
            <div class="container">
              <label for="user_input">Input Your Password:</label>
              <div class="d-flex flex-row">
                <img src="static/assets/lock.png" height="40vh" width="40vh">
                <input type="text" id="user_input" name="user_input" class="input-field" placeholder="input here">
              </div>
              <br>
              <button type="submit" class="btn form-btn" value="submit"
                style="background:-webkit-linear-gradient(right, #031888, #6096fd, #aab6fb, #fb788e);"> Generate
              </button>
            </div>
          </form>
        </div>

        <br>
        <h2 class="text-center">your password is:</h2>
        <div class="d-flex flex-row">
          <h2 id="copyText">{{FEEDBACK}}</h2>
        </div>
        <br>
      </div>

      <div class="d-flex justify-content-center text-center m-5" style="font-family:'Nunito';">
        <div>
          <p style="font-size: 20px;"> With the large usage of passwords in the digital world, passwords need to be
            stronger than ever to fight against cyber security risks. To help users increase their cyber security, users
            should try creating stronger passwords through increasing character count and having a combination of
            special characters, numbers, and letters. To help in the journey to protecting user data, we recommend
            adding a multi-factor authentication and unique passwords for each account. </p>
        </div>
      </div>
    </div>
    </div>
</body>

<style>
  .info {
    margin-right: 5%;

  }

</style>

</html>