<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cybersecurity Quiz</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  

	<!-- stylesheet -->
	<link rel="stylesheet" href="quiz_style.css">

	<!-- javascript -->
	<script src="quiz_script.js" defer>

	</script>

</head>

<body>

	<header>
		<h1>Simple Cybersecurity Quiz</h1>
		<p>Let's see how well protected and informed you are in cybersecurity!!</p>
	</header>

	<main>

		<h2>Do you use a password manager?</h2>
		<div class="question">

			<div class="answer-choice">
        <button id="q1a1">Yes</button>
      </div>

      <div class="answer-choice">
        <button id="q1a2">No</button>
      </div>

    </div> 

    <h2>Do you allow cookies?</h2>
    <div class="question">

      <div class="answer-choice">
        <button id="q2a1">Yes</button>
      </div>

      <div class="answer-choice">
        <button id="q2a2">No (/depends)</button>
      </div>

    </div> 
    
    <h2>Do you turn on 2FA or multifactor authentication?</h2>
    <div class="question">

      <div class="answer-choice">
        <button id="q3a1">Yes</button>
      </div>

      <div class="answer-choice">
        <button id="q3a2">No</button>
      </div>

    </div> 
    
    <h2>Do you use a VPN?</h2>
    <div class = "question">
  
      <div class = "answer-choice">
        <button id = "q4a1">Yes</button>
      </div>

      <div class = "answer-choice">
        <button id = "q4a2">No</button>
      </div>

    </div> 

    <h2>Do you update your software?</h2>
    <div class = "question">
  
      <div class = "answer-choice">
        <button id = "q5a1">Yes</button>
      </div>

      <div class = "answer-choice">
        <button id = "q5a2">No</button>
      </div>

    </div> 

    <h2>Which one is secure?</h2>
    <div class = "question">
  
      <div class = "answer-choice">
        <button id = "q6a1">Yes</button>
      </div>

      <div class = "answer-choice">
        <button id = "q6a2">No</button>
      </div>

    </div> 

    
    <h2>Do you check links before you click on them?</h2>
    <div class = "question">
  
      <div class = "answer-choice">
        <button id = "q7a1">Yes</button>
      </div>

      <div class = "answer-choice">
        <button id = "q7a2">No</button>
      </div>

    </div> 

    <h2>Do you use anti-virus protection?</h2>
    <div class = "question">
  
      <div class = "answer-choice">
        <button id = "q8a1">Yes</button>
      </div>

      <div class = "answer-choice">
        <button id = "q8a2">No</button>
      </div>

    </div> 

    
    <h2 id="result">Your result is...</h2>
    
    <button id="restart"> Restart </button>
      
  </main>

  </body>
</html>