<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Resources</title>
  <body style="background-color:#f0edda">
<html lang="en">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><strong>SECUREHUB</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stats">STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resources">RESOURCES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/password">PASSWORDS</a>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quiz">QUIZ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/game">GAME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aboutus">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
  </ul>
</div>
</nav>


<h1> <p style="font-family:Helvetica"> <p style="font-size: 25px; padding: 5px;"> <strong>RESOURCES</strong></p></h1>
</p>
</div>
</div>
<header>
  <div class="column">
    <div class="col-3"> 
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Creating a strengthened password</h5>
      <p class="card-text">Here are some recommendations to improve your password:</p>
      <p> - Make it at least 15 characters</p>
      <p> - Make passwords unique — never used before</p>
      <p> - Randomly generate — utilize a computer or password manaher</p>
      <a href="/password" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
</div>

<!-- <div class="col-3"> 
</p>
</div>
</div>
<header> -->

  <div class="column">
    <div class="col-3"> 
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Using password manager & 2FA(multi-factor authentication)</h5>
      <p class="card-text">Utilizing PIN numbers, authentication application or confirmation 
        text on your phone, or fingerprint or face ID to prevent hackers from being 
      </p>
      <a href="https://www.cisa.gov/news-events/news/4-things-you-can-do-keep-yourself-cyber-safe" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
</div>


  <div class="column">
    <div class="col-3"> 
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Phishing</h5>
      <p class="card-text">With phising being the #1 crime type globally, it's important to read your links carefully!
      </p>
      <a href="https://www.phishing.org/what-is-phishing" class="btn btn-primary">Learn more</a>
    </div>
  </div>
</div>
</div>
<!-- 
<div class="col-3"> 
  </p>
  </div>
  </div>
  <header> -->

    <div class="column">
      <div class="col-3"> 
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Internet Protocol</h5>
        <p class="card-text"> Check your internet protocol for better cybersecurity; the "s" in the link indicates encryption, preventing hackers from stealing cookies and personal data. Use "HTTPS" for secure information sharing. <p>
          
          </p>
        <a href="https://www.cloudflare.com/learning/ssl/why-is-http-not-secure/#:~:text=The%20only%20difference%20between%20the,far%20more%20secure%20than%20HTTP." class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="col-3"> 
  </p>
  </div>
  </div>
  <header> -->

    <div class="column">
      <div class="col-3"> 
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Implementing applications or software</h5>
        <p class="card-text">Enhance cybersecurity by installing trusted software like antivirus protection softwarres like NordVPN to protect against scammers.</p>
        <a href="https://staysafeonline.org/resources/pull-the-shades-down-on-your-browsing-with-a-vpn/" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="col-3"> 
  </p>
  </div>
  </div>
  <header> -->

    <div class="column">
      <div class="col-3"> 
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Dangers of accepting cookies</h5>
        <p class="card-text">Cookies are small amounts of data that are used to identify your computer and personal info to make the user experience more personalized. The data in cookies are usually harmless but may jeapordise your privacy if they fall into the wrong hands.  </p>
        <a href="https://www.bitdefender.com/blog/hotforsecurity/the-good-the-bad-and-the-ugly-side-of-internet-cookies/" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>
<!-- testimonials below -->
<!-- Shea Tate -->
<div class="column">
  <div class="col-3"> 
<div class="card" style="height: 510px" >
  <div class="card-body">
    <img class="card-img-top" src="{{url_for('static', filename='assets/Shea.png')}}" alt="Card image cap">
    <h5 class="card-title">Testimonials-Shea</h5>
    <p class="card-text">“I recently started to open a Temu account to buy a significantly discounted advent calendar featuring gems
      and crystals for my younger daughter (she loves rocks!), however I did not complete the account opening process when I saw how 
      invasive their terms and information gathering practices are."</p>
      <p>- Shea (Age Unknown)</p>
  </div>
</div>
</div>
</div>
<!-- Serenitys brother -->
<div class="column">
  <div class="col-3"> 
<div class="card" style="height: 510px" >
  <div class="card-body">
    <img class="card-img-top" src="{{url_for('static', filename='assets/seren_bro.png')}}" alt="Card image cap">
    <h5 class="card-title">Testimonials-Ben</h5>
    <p class="card-text">“I had someone hack my gaming account (Minecraft). 
      They changed my in-game name and got me banned on multiple servers. 
      I’m not sure how I got hacked 💁🏻‍♂️ I guess my password wasn’t strong enough.” </p>
      <p>- Ben (Age 26)</p>
  </div>
</div>
</div>
</div>

<div class="column">
  <div class="col-3"> 
<div class="card" style="height: 510px" >
  <div class="card-body">
    <img class="card-img-top" src="{{url_for('static', filename='assets/Stefano.png')}}" alt="Card image cap">
    <h5 class="card-title">Testimonials-Stefano</h5>
    <p class="card-text">“Last Year, I accidentally clicked an Amazon phishing email. 
      In seconds, I lost my email, social media (Instagram and Facebook), google account, and so much more. 
      I wish I knew more about cybersecurity because phishing keeps getting better!!" </p>
      <p>- Stefano (Age 21)</p>
    </div>
</div>
</div>
</div>
</div>

<!-- testimonials end -->
</header>

<body>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

<style>

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 30px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-left: 25px;
  width: 400px;
  height: 400px;
}

h1 {
  max-width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 60%;
  margin-left: 20%;
}

</style>


</html>
