<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>


<body style="background-color:#f0edda">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <nav class="nav-tab navbar-light bg-light d-flex flex-column" style="width: 250px; height: 100vh; float: left">
          <a class="navbar-brand" style="margin-left: 10%; margin-top: 30px; font-size: 25px"><strong>SECUREHUB</strong></a>
          <ul class="navbar-nav" style="margin: 20px">
            <li class="nav-item"><a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/stats">STATISTICS</a></li>
            <li class="nav-item"><a class="nav-link" href="/password">PASSWORDS</a></li>
            <li class="nav-item"><a class="nav-link" href="/game">GAME</a></li>
            <li class="nav-item"><a class="nav-link" href="/aboutus">ABOUT US</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>


  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="navy-box">
      <h1><strong>Did you know LinkedIn has had 700 MILLION records lost?</strong></h1>
      <h2>The invisible threat of data breaches echoes across corporate realms, come explore the hidden statistics</h2>
      <a href="/tablePage" class="btn btn-primary" style="background: linear-gradient(to right, #031888, #6096fd, #aab6fb, #fb788e);width: 200px; border-radius: 30px;">Learn More</a>
    </button>
    </div>
  </div>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    .navy-box {
      background-color: white;
      padding: 30px;
      text-align: center;
      font-family:'Nunito';
      width: 60%;
      border-radius: 15px;
      color: #3D405B;
      margin-top: -30px;
    }

    .navy-box a {
      color: #fff;
      text-decoration: none;
    }

    .navy-box .btn-primary {
      color: #fff;
      font-family:'Nunito'
    }
  </style>

</body>

</html>
