
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{ url_for('static', filename='css/style.css') }">
        <script src="../static/js/slider.js" defer> </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body style="background-color:#f4f1de">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><strong>SECUREHUB</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">STATISTICS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">RESOURCES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/password">PASSWORDS</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quiz">QUIZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/game">GAME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
    </nav>
        </div>
        <div>
            <image src="static/my_plot.png" class="img-fluid"></image>
            <h1 class="text-center">Statistics Table</h1>
            <form action="/tablePage" method="POST" class="d-flex align-items-center flex-column">
                <div class="slider-container d-flex justify-content-center" style="width:100%">
                    <label for="recordMin"><b>Minimum # of Records Lost</b></label> : <span id="recordMin_value"></span>
                    <input type="range" min="100000" max="5000000" value="100000" class="form-range" id="recordMin" name="recordMin" style="width:80%">
                </div>
                <div class="slider-container d-flex justify-content-center" style="width:100%">
                    <label for="yearMin"><b>Start Year</b></label> : <span id="yearMin_value"></span>
                    <input type="range" min="2011" max="2022" value="2011" class="form-range" id="yearMin" name="yearMin" style="width:80%">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-sm" value="submit"> Submit Table </button><br>
            </form>
        </div>
        <div>
            <div class="d-flex justify-content-center">
                <div class="card table-wrapper-scroll-y my-custom-scrollbar rounded-1" style="width:50%">
                    <table class="table table-bordered table-hover rounded-10">
                        
    <thead class="custom-header sticky-top">
        <tr>
            <th scope="col" class="text-white">Organization</th>
            <th scope="col" class="text-white"># of Records Lost</th>
            <th scope="col" class="text-white">Date of Breach</th>
        </tr>
            </thead>
                    <tbody>
    
        </tbody>
        <style>
            .custom-header {
                background-color: #3D405B;
            }
        </style>
        
    
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
